@model List<int>

@{ 
    ViewContext.HttpContext.Items["Title"] = "My Reservation";
    var phone = ViewContext.HttpContext.Request.Query["phone"];
}

@if (!User.Identity.IsAuthenticated)
{
<div class="border rounded p-2 mb-3">
        <form method="get">
            <div class="form-group">
                <label>Phone</label>
                <input class="form-control"
                       name="Phone"
                       pattern="\d{10,15}"
                       placeholder="Type your phone to find reservations"
                       value="@phone" required />
            </div>
            <button class="btn btn-outline-primary">Search</button>
        </form>
   
</div>
}

@foreach (var id in Model)
{
    @await Component.InvokeAsync("DetailsReservation", new { id = id });
}

@if(Model.Count == 0 && string.IsNullOrEmpty(phone)) { 
    <h5>Reservation is empty</h5>
}
